<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Expenses</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h2 class="center-heading">Your Expenses</h2>

    <table border="1" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Expense</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="expense : ${expenses}">
                <td th:text="${expense.id}">1</td>
                <td th:text="${expense.name}">Lunch</td>
                <td th:text="${expense.amount}">100</td>
                <td th:text="${#temporals.format(expense.date, 'yyyy-MM-dd')}">2025-07-05</td>
                <td th:text="${expense.category}">Food</td>
            </tr>
        </tbody>
    </table>

    <br/>
    <a href="/dashboard" class="back-link">Back to Dashboard</a>
</div>
</body>
</html>
